# Install Drivers:

In [3]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /home/meta-sapien/anaconda3/lib/python3.9/site-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 1.3 MB/s eta 0:00:01
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

# Import Libraries:

In [6]:
import pymongo

# Get the generated link from Mongo-DB

In [8]:
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@metamachine.sxyvy.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['metamachine-shard-00-02.sxyvy.mongodb.net:27017', 'metamachine-shard-00-01.sxyvy.mongodb.net:27017', 'metamachine-shard-00-00.sxyvy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-s1hqe7-shard-0', tls=True), 'test')

# If facing the dns issue

!pip install dnspython

In [9]:
db1 = client.test1

# Create Database

In [10]:
db2 = client['abhinav']

In [11]:
client.list_database_names()

['admin', 'local']

# Create Collections

In [19]:
collection_1 = db2['abhinav_collection']

In [20]:
dict1 = {
    "name" : "Batman",
    "email": "batman@dc.co.in",
    "city" : "Gotham",
    "enemy": "joker"
}

In [21]:
collection_1.insert_one(dict1)

One single record or one single row ~~~ one document in MongoDB

In [22]:
dict2 ={
    "name" : "Batman",
    "email": "batman@dc.co.in",
    "city" : "Gotham",
    "enemy": "joker",
    "phone": "8888888888"
}

In [23]:
collection_1.insert_one(dict2)

This will create new document and will not update the previous one that means we are creating an unstructured database here.

In [25]:
##Data with list of dictionaries:

In [30]:
data = [{'7058': 'sravan', '7059': 'jyothika',
         '7072': 'harsha', '7075': 'deepika'},
         
        {'7051': 'fathima', '7089': 'mounika',
         '7012': 'thanmai', '7115': 'vasavi'},
         
        {'9001': 'ojaswi', '1289': 'daksha',
         '7045': 'parvathi', '9815': 'bhavani'}]

In [34]:
collection_1.insert_many(data)

# Fetching Data:

In [35]:
collection_1.find()

In [36]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}
{'_id': ObjectId('626e15f66391240c07f78110'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('626e15f66391240c07f78111'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('626e15f66391240c07f78112'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}

In [39]:
for i in collection_1.find({"name":"Batman"}):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}

In [43]:
for i in collection_1.find({"name":"Bat"}):
    print(i)

In [45]:
for i in collection_1.find({"name" : {"$in" : ["Bat","Batman"]}}):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}

# Search operation on Multiple key

In [46]:
for i in collection_1.find({"name" : {"$in" : ["Bat","Batman"]}, "email": "batman@dc.co.in"}):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}

In [50]:
collection_1.find_one()

{'_id': ObjectId('626e13286391240c07f7810e'),
 'name': 'Batman',
 'email': 'batman@dc.co.in',
 'city': 'Gotham',
 'enemy': 'joker'}

# update record

In [58]:
collection_1.update_one({"name":"Batman"},{"$set":{"name":"Batwoman"}})

since we used update_one it only replace the first instance of the Batman and not all | if we use update_many then all will be updated.

# Fetching limited records:

In [60]:
for i in collection_1.find().limit(2):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batwoman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}

# More operations like > or <

In [61]:
list1 = [
        {
            "item": "canvas",
            "qty": 100,
            "size": {"h": 28, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mat",
            "qty": 85,
            "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mousepad",
            "qty": 25,
            "size": {"h": 19, "w": 22.85, "uom": "cm"},
            "status": "P",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "P",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketchbook",
            "qty": 80,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketch pad",
            "qty": 95,
            "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
            "status": "A",
        },
    ]

In [62]:
collection_1.insert_many(list1)

In [65]:
#greater than equal to
for i in collection_1.find({"qty" :{"$gte":20}}):
    print(i)

{'_id': ObjectId('626e1ed36391240c07f78113'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78114'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78115'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78116'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78117'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78118'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('626e1ed36391240c07f78119'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('626e1ed36391240c07f7811a'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811b'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811c'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [64]:
#less than equal to
for i in collection_1.find({"qty" :{"$lte":100}}):
    print(i)

{'_id': ObjectId('626e1ed36391240c07f78113'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78114'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78115'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78116'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78117'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78118'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('626e1ed36391240c07f78119'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('626e1ed36391240c07f7811a'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811b'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811c'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [68]:
#not greater than:
for i in collection_1.find({"qty":{"$not" : {"$gte" : 100}}}):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batwoman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}
{'_id': ObjectId('626e15f66391240c07f78110'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('626e15f66391240c07f78111'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('626e15f66391240c07f78112'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}
{'_id': ObjectId('626e1ed36391240c07f78114'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78115'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f78116'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78117'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('626e1ed36391240c07f78119'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('626e1ed36391240c07f7811a'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811b'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('626e1ed36391240c07f7811c'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [69]:
#not less than:
for i in collection_1.find({"qty":{"$not" : {"$lte" : 100}}}):
    print(i)

{'_id': ObjectId('626e13286391240c07f7810e'), 'name': 'Batwoman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker'}
{'_id': ObjectId('626e13cd6391240c07f7810f'), 'name': 'Batman', 'email': 'batman@dc.co.in', 'city': 'Gotham', 'enemy': 'joker', 'phone': '8888888888'}
{'_id': ObjectId('626e15f66391240c07f78110'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('626e15f66391240c07f78111'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('626e15f66391240c07f78112'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}

not less than equal to will also return if there is no presence of key so be careful

# Q Find item journal and update the qty to 250

In [75]:
collection_1.find_one_and_update({"item":"journal"}, {"$set" : {"qty":250}})

{'_id': ObjectId('626e1ed36391240c07f78114'),
 'item': 'journal',
 'qty': 250,
 'size': {'h': 14, 'w': 21, 'uom': 'cm'},
 'status': 'A'}

# Q wherever qty > 50 then update qty = 400

In [77]:
collection_1.find_one_and_update({"qty":{"$gt":50}},{"$set":{"qty":400}})

{'_id': ObjectId('626e1ed36391240c07f78113'),
 'item': 'canvas',
 'qty': 400,
 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'},
 'status': 'A'}

# Delete Operation:

In [79]:
collection_1.delete_one({"name":"Batman"})

# Using drop():
By invoking drop() on a collection , it will remove all the documents from it ,it will delete all the indexes on it and at the end it will delete the collection itself.

# remove()

    Removes documents from a collection.

but doesn't get rid of the collection (or associated indexes). remove() can take parameters to specify deletion criteria as well.